/* ----------------------------------
	1. Reset default browser styles
	2. Basic classes and elements 
	3. Color Scheme
	4. Typography
	5. Header
	6. Sliders
	7. Tabs
	8. Carousels
	9. Twitter Feed
	10. Lists and navigations
	11. Buttons
	12. Tables
	13. Icons
	14. Main content elements
	15. Forms
	16. Footer
	17. Animations
	18. Responsive changes
	19. Retina ready
-------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,500,300italic);
@import "styleswitcher.css";

/* -----------------------------------

	1. Reset default browser styles

------------------------------------- */

*{
	margin:0;
	padding:0;
	border:none;
}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,main{display:block}mark,rp,rt,ruby,summary,time{display:inline}
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{
    background: transparent;
    border: 0 none;
	font-weight: inherit;
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
    vertical-align: top;
}
a{
	text-decoration:none;
	outline: none !important;
}
b, strong{
	font-weight:bold !important;
}
ul,ol{
	list-style: none;
}
q {
	quotes: none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img{
	vertical-align:top; 
	max-width:100%;
}
embed{ 
	vertical-align:top;
}
input,button{
	-webkit-appearance:none;
	outline: none;
}
button::-moz-focus-inner{
	border:0;
}
html,body{
	height:100%;
}

/* -----------------------------------

	2. Basic classes and elements 

------------------------------------- */

body{
	font:300 14px/21px 'Roboto', 'sans-serif';
	color:#696e6e;
	background:#232830;
	letter-spacing: 0.1px;
	overflow-x: hidden;
	-webkit-backface-visibility:hidden;
	background-attachment:fixed;
}
.boxed_layout{
	width:1220px;
	margin:0 auto;
}
[class*="layout"],.menu_wrap.type_3{
	background:#fafbfb;
}
.tt_uppercase{
	text-transform: uppercase;
}
.tt_none{
	text-transform: none;
}
.t_align_l{
	text-align: left;
}
.t_align_c{
	text-align: center;
}
.t_align_r{
	text-align: right;
}
.v_align_b{
	vertical-align: baseline;
}
.v_align_m{
	vertical-align: middle;
}
.v_align_bottom{
	vertical-align: bottom;
}
.d_inline_b{
	display:inline-block;
}
.d_ib_offset_0{
	word-spacing: -3px;
}
.d_ib_offset_large{
	word-spacing: -4px;
}
.d_ib_offset_normal{
	word-spacing: 0px;
}
.d_block{
	display:block;
}
.d_table{
	display:table;
}
.d_table_cell{
	display:table-cell;
}
.d_none,.tw_buttons li:first-child:before{
	display:none;
}
.f_size_small{
	font-size:.85em;
}
.f_size_medium{
	font-size:.9em;
}
.f_size_large{
	font-size:1.15em;
}
.f_size_ex_large{
	font-size:1.25em;
}
.f_size_big{
	font-size:1.7em;
}
.l_height_medium{
	line-height:1.42em;
}
.fw_medium{
	font-weight: 500;
}
.d_inline_middle{
	display:inline-block;
	vertical-align: middle;
}
.horizontal_list > *{
	float:left;
}
.horizontal_list > *:first-child{
	margin-left:0;
}
.circle,.tw_buttons li:before,.vertical_list_type_2 li:before,
.vertical_list_type_3 li:before{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.r_corners,
.vertical_list_type_7 li:before,
.vertical_list_type_8 li:before{
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.vc_child:after{
	content:"";
	display:inline-block;
	height:100%;
	vertical-align: middle;
}
.h_inherit{
	height:inherit;
}
.full_width,[class*="banner_caption"].full_width,.wide_layout{
	width:100%;
}
.w_inherit{
	width:inherit;
}
.half_column{
	width:50%;
	padding:0 0 0 15px;
}
.half_column:first-child{
	padding:0 15px 0 0;
}
.half_column.type_2{
	padding:0 0 0 5px;
}
.half_column.type_2:first-child{
	padding:0 5px 0 0;
}
.relative{
	position:relative;
}
.wrapper{
	overflow: hidden;
}
.ellipsis{
	display:block;
	overflow: hidden;
	text-overflow:ellipsis;
}
.bg_tr{
	background:transparent;
}
.lh_inherit{
	line-height: inherit !important;
}
.let_s{
	letter-spacing: 1px;
}
.mw_0{
	min-width: 0 !important;
}
.mxw_0{
	max-width: none !important;
}
.p_hr_0{
	padding-left:0 !important;
	padding-right:0 !important;
}
.p_vr_0{
	padding-top:0 !important;
	padding-bottom:0 !important;	
}
.p_top_10{
	padding-top:10px;
}
.p_right_45{
	padding-right:45px;
}
.m_left_0{
	margin-left:0 !important;
}
.m_right_0{
	margin-right:0 !important;
}
.m_left_5{
	margin-left:5px;
}
.m_left_10{
	margin-left:10px;
}
.m_left_15{
	margin-left:15px;
}
.m_left_20{
	margin-left:20px;
}
.m_left_40{
	margin-left:40px;
}
.m_right_5{
	margin-right:5px;
}
.m_right_6{
	margin-right:6px;
}
.m_right_8{
	margin-right:8px;
}
.m_right_10{
	margin-right:10px;
}
.m_right_15{
	margin-right:15px;
}
.m_right_20{
	margin-right:20px;
}
.m_right_25{
	margin-right:25px;
}
.m_right_29{
	margin-right:29px;
}
.m_right_30{
	margin-right:30px;
}
.m_right_35{
	margin-right:35px;
}
.p_bottom_0{
	padding-bottom:0 !important;
}
.m_bottom_0{
	margin-bottom:0px !important;
}
.m_bottom_3{
	margin-bottom:3px;
}
.m_bottom_5{
	margin-bottom: 5px;
}
.m_bottom_10{
	margin-bottom:10px;
}
.m_bottom_12{
	margin-bottom:12px;
}
.m_bottom_15{
	margin-bottom:15px;
}
.m_bottom_20{
	margin-bottom:20px;
}
.m_bottom_25{
	margin-bottom:25px;
}
.m_bottom_30{
	margin-bottom:30px;
}
.m_bottom_35{
	margin-bottom:35px;
}
.m_bottom_40{
	margin-bottom:40px;
}
.m_bottom_45{
	margin-bottom:45px;
}
.m_bottom_50{
	margin-bottom:50px;	
}
.m_bottom_60{
	margin-bottom:60px;	
}
.m_bottom_65{
	margin-bottom:65px;
}
.m_bottom_100{
	margin-bottom:100px;
}
.m_top_5{
	margin-top:5px;
}
.m_top_20{
	margin-top:20px;
}
.centered_db{
	margin-left:auto;
	margin-right:auto;
}
.box_s_none{
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important;
	-ms-box-shadow:none !important;
	box-shadow:none !important;
}
.f_left{
	float:left;
}
.f_right{
	float:right;
}
.tr_delay_hover,.button_type_2 .scheme_color{
	-webkit-transition:color 1s ease,background-color 1s ease,box-shadow 1s ease;
	-moz-transition:color 1s ease,background-color 1s ease,box-shadow 1s ease;
	-o-transition:color 1s ease,background-color 1s ease,box-shadow 1s ease;
	transition:color 1s ease,background-color 1s ease,box-shadow 1s ease;
}
.tr_delay_hover:hover,.button_type_2:hover .scheme_color{
	-webkit-transition:color .1s ease,background-color .1s ease,box-shadow .1s ease;
	-moz-transition:color .1s ease,background-color .1s ease,box-shadow .1s ease;
	-o-transition:color .1s ease,background-color .1s ease,box-shadow .1s ease;
	transition:color .1s ease,background-color .1s ease,box-shadow .1s ease;	
}
.container3d{
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transform:perspective(600);
	-moz-transform:perspective(600);
	-o-transform:perspective(600);
	transform:perspective(600);
	perspective:600px;
}
.shadow{
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.10);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.10);
	-o-box-shadow:0 1px 1px rgba(0,0,0,.10);
	-ms-box-shadow:0 1px 1px rgba(0,0,0,.10);
	box-shadow:0 1px 1px rgba(0,0,0,.10);
}
mark{
	background: #E51E26;
	color:#fff;
}
::selection{
	background: #E51E26;
	color:#fff;
}
::-moz-selection{
	background: #E51E26;
	color:#fff;	
}
::-o-selection {
	background: #E51E26;
	color:#fff;	
}
::-ms-selection {
	background: #E51E26;
	color:#fff;
}
::-webkit-input-placeholder{
	color:#696e6e;
}
::-moz-placeholder{
   color:#696e6e;
   opacity:1;
}
:-ms-input-placeholder {  
   color:#696e6e;
}
::-webkit-scrollbar{
	width:10px;
	background:#323a45;
}
::-webkit-scrollbar-thumb{
	-webkit-border-radius:4px;
	border-radius:4px;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

/* -----------------------------------

	3. Color Scheme

------------------------------------- */

a,a[class*="color"]:not(.color_light):hover,.scheme_color,.close_product:hover,
.search_button:hover,.close_search_form:hover,blockquote:before,.banner_type_2.red b,#footer a.color_light:hover,
.close_fieldset:hover,.text_cs_hover:hover,.tweet_list a:hover,[class*="alert_box"].error i[class^="fa "],
label[class*="required"]:after,.vertical_list_type_7 li:before,.first_letter_1 > .fl,
.info_block_type_1:hover [class*="icon_wrap"]{
	color:#E51E26;
}
.shopping_cart,[role="banner"],.sub_menu_wrap,.banner_type_2.red,
.vertical_list_type_3 li:before,.vertical_list_type_7 li:before{
	border-color:#E51E26;	
}
.shopping_cart:before,.sub_menu_wrap:before{
	border-bottom-color:#E51E26;
}
.count,.bg_scheme_color,.button_type_3:hover .count.type_2,
.button_type_3.active .count.type_2,.md_no-touch .main_menu > li:hover > a,.main_menu > li.current > a,
.main_menu > .current_click > a,
.main_menu > li.touch_open_sub > a,
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected,
[class*="button_type_"].bg_dark_color:hover,.banner:hover [class*="button_type_"].bg_dark_color,
[class*="button_type_"].bg_cs_hover:hover,#go_to_top:hover,.sw_button.googlemap,#menu_button,
.ui-slider:after,.vertical_list_type_2 li:before,.camera_wrap .camera_pag .camera_pag_ul .cameracurrent,
.camera_wrap .camera_prev:hover, .camera_wrap .camera_next:hover,.flex-control-nav .flex-active,
.flex-direction-nav a:hover,.vertical_list_type_4 li:before,.vertical_list_type_8 li:before,
.first_letter_2 > .fl,.info_block_type_2:hover [class*="icon_wrap"],#shopping_button:hover > a .count{
	background:#E51E26;
}
.select_color.red{
	background-color:#E51E26;	
}
.tp-leftarrow:hover,.tp-rightarrow:hover{
	background: #d55a4e
}
::-webkit-scrollbar-thumb{
	background:#E51E26;	
}

/* -----------------------------------

	4. Typography

------------------------------------- */

h2{
	font-size:1.71em;
	line-height:1em;
}
h3,.tabs_nav,.search_button,.p_table > footer a{
	font-size:1.4em;
}
h4{
	font-size:1.25em;
}
h5{
	font-size:1.15em;
}
h6{
	font-size:1em;
}
a,.tr_hover{
	-webkit-transition: color .4s ease, background-color .4s ease;
	-moz-transition: color .4s ease, background-color .4s ease;
	-o-transition: color .4s ease, background-color .4s ease;
	transition: color .4s ease, background-color .4s ease;
}
.md_no-touch a:hover,.color_dark,.bc_list a[class*="color"]:hover,.bc_list > li.current > a,
.tweet_list a{
	color:#292f38;
}
.color_grey{
	color:#838a8f;
}
.color_light,.button_type_2:hover .scheme_color,.dropdown_list li .scheme_color,
.button_type_2.active .scheme_color,.md_no-touch a.color_light:hover,.social_icons li:hover a,.bg_cs_hover:hover,
[class*="button_type_"][class*="color"].color_dark:hover,.main_menu[class*="type_"] > .current > a,
.md_no-touch .main_menu[class*="type_"] > li:hover > a,.main_menu[class*="type_"] > .touch_open_sub > a,.vertical_list_type_8 li:before{
	color:#fff;
}
.color_light_2{
	color:#f9f9f9;
}
.default_t_color{
	color:#696e6e;
}
.color_green{
	color:#27ae60;
}
.bg_color_green_1{
	background:#27ae60;
}
.bg_color_green_2{
	background:#2ecc71;
}
.bg_color_orange_1{
	background:#e67e22;
}
.bg_color_orange_2{
	background:#f39c12;
}
.bg_color_orange_3{
	background:#f1c40f;
}
.bg_color_red_1{
	background:#c0392b;
}
.bg_color_blue_1{
	background:#2980b9;
}
.bg_color_blue_2{
	background:#3498db;
}
.bg_color_blue_3{
	background:#41bedd;
}
.bg_color_pink_1{
	background:#a255c4;
}
.bg_color_purple_1{
	background:#4e4ca0;
}
s{
	color:#6a6a6a;
}
.bg_light_color_1,.sub_menu li:hover > a,.select_list > li:hover,
.p_list > li:nth-child(2n+1),.info_block_type_1:hover [class*="icon_wrap"]{
	background:#ecf0f1;
}
.bg_light_color_2,.ui-slider-handle{
	background:#e2e6e7;
}
.bg_light_color_3{
	background:#fff;
}
.bg_color_dark_1{
	background:#292f38;
}
.bg_color_dark_2{
	background:#323a45;
}
.banner_title{
	font-size:2.28em;
	line-height: 1em;
}
.banner_title.type_2{
	font-size:4.51em;
}
.banner_title_3{
	font-size:1.4em;
}
blockquote{
	font-style:italic;
	background:#fff;
	line-height:1.55em;
	padding:20px 10px 15px 50px;
}
blockquote:before{
	content:"“";
	position:absolute;
	font-size:50px;
	font-weight:bold;
	width:20px;
	left:19px;
	top:26px;
}
blockquote:after{
	content:"";
	width:17px;
	height:10px;
	background:url("../images/blockquote_arrow.png") no-repeat;
	position:absolute;
	left:20px;
	bottom:-10px;
}
.bt_link{
	line-height: 1.3em;
	padding-bottom:4px;
	word-break:break-all;
}
.first_letter_1 > .fl{
	font-size:3em;
	font-weight:bold;
	margin:10px 7px 0 0;
}
.first_letter_2 > .fl{
	width:32px;
	height:32px;
	font-size:1.42em;
	color:#fff;
	font-weight:bold;
	margin:7px 10px 0 0;
	padding-top:5px;
}

/* -----------------------------------

	5. Header

------------------------------------- */

[role="banner"]{
	border-top-width:3px;
	border-top-style: solid;
	width:inherit;
}
[role="banner"].type_4{
	border-top:none;
}
.h_top_part{
	padding:4px 0;
	border-bottom:1px solid #e2e6e7;
}
.h_top_part.type_2{
	background:#323a45;
	color:#bdc3c7;
	padding:6px 0;
}
.h_bot_part{
	padding-top:29px;
	padding-bottom:27px;
}
.h_bot_part.type_2{
	padding-bottom:25px;
}
.logo:hover img{
	-webkit-animation:ministorm .5s ease;
	-moz-animation:ministorm .5s ease;
	-o-animation:ministorm .5s ease;
	-ms-animation:ministorm .5s ease;
	animation:ministorm .5s ease;
}
.menu_wrap{
	z-index:189;
	width:inherit;
}
.menu_wrap.sticky{
	position: fixed;
	top:0;
}
.menu_wrap[class*="type_"]:not(.type_3){
	width:auto;
}
.menu_wrap.type_2:not(.sticky){
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.menu_wrap,#footer{
	background:#323a45;
}
.menu_wrap.type_2:not(.sticky) .main_menu > li:first-child > a{
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.menu_wrap.type_3{
	padding:9px 0;
	border-bottom:1px solid #e6e5e7;
}
.main_menu > li{
	z-index:101;
}
.main_menu > li > a{
	display:block;
	padding:20px 40px;
}
.menu_wrap.type_2 .main_menu > li > a{
	padding:20px 30px;
}
.main_menu.type_2 > li > a{
	padding:9px 10px 10px;
}
.main_menu.type_3 > li > a{
	padding:10px 20px;
}
.sub_menu_wrap{
	position:absolute;
	left:0;
	width:780px;
	background:#fff;
	padding:10px 10px 0 0;
	border-top-width:3px;
	border-top-style:solid;
	margin-top:10px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.15);
	-o-box-shadow:0 1px 2px rgba(0,0,0,0.15);
	-ms-box-shadow:0 1px 2px rgba(0,0,0,0.15);
	box-shadow:0 1px 2px rgba(0,0,0,0.15);
	-webkit-transform:translateY(35px);
	-moz-transform:translateY(35px);
	-o-transform:translateY(35px);
	-ms-transform:translateY(35px);
	transform:translateY(35px);
	opacity:0;
	visibility:hidden;
}
.sub_menu_wrap:after{
	content:"";
	width:100%;
	height:10px;
	display: block;
	position: absolute;
	left:0;
	top:-13px;
}
.sub_menu_wrap:before{
	right:auto;
	left:16px;
}
.sub_menu_wrap.type_2{
	width:auto;
	padding:0;
}
.sub_menu,.caption,.product_item .photoframe figcaption > *,.product_item .photoframe img,
.photoframe img,.blog_carousel *,blockquote,.banner_type_2 *,#footer *,
.banner *,#go_to_top,.social_widgets *,.main_menu > li > a,.qv_carousel_wrap *{
	-webkit-backface-visibility:hidden;
}
.sub_menu li a{
	display:block;
	padding:7.7px 20px;
	white-space:pre;
}
.sub_menu_wrap .sub_menu.first > li:last-child > a{
	-webkit-border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px;
}
.sub_menu_wrap.type_2 .sub_menu > li:last-child > a{
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.s_form_wrap{
	padding-right:25px;
	width:736px;
}
.s_form_wrap_2{
	width:520px;
}
.s_form_wrap_2 .logo{
	margin-left:98px;
}
[role="banner"].type_5 .h_bot_part .menu_wrap{
	background:#fafbfb;
	padding-top:29px;
}
[role="banner"].type_5 .h_bot_part .menu_wrap > hr{
	margin-top:27px;
}
[role="banner"].type_5 .h_bot_part{
	padding:0;
	width:inherit;
}
[role="banner"].type_5 .h_bot_part .menu_wrap .site_settings.f_right{
	margin:0;
}

/* -----------------------------------

	6. Sliders

------------------------------------- */

.revolution_slider{
	width:100%;
	position:relative;
	padding:0;
}
.tp-leftarrow i[class^="fa "],.tp-rightarrow i[class^="fa "],
.camera_prev i[class^="fa "],.camera_next i[class^="fa "],
.flex-direction-nav a i[class^="fa "]{
	color:#fff;
	font-size:2.2em;
	line-height: 60px;
	font-weight: bold;
	margin-top:-1px;
}
.slider_divider{
	height:2px;
	width:58px;
	background:rgba(255,255,255,.3);
	border:none;
}
.slider_divider.type_2{
	background:rgba(50,58,69,.1);
}
.slider_title{
	font-size:3.07em;
	line-height: 1em;
}
.slider_title_2{
	font-size:2.35em;
}
.slider_title_3{
	letter-spacing:1.7px;
}
.slider_title_4{
	font-size:2.57em;
	line-height: 1em;
}
.caption .button_type_4,[class*="slide_caption"] .button_type_4,
.camera_wrap .button_type_4{
	font-size:1.7em;
	padding:13px 18px;
}
.ui-slider{
	height:12px;
	border:2px solid #e2e6e7;
	position:relative;
	background:#f5f7f8;
}
.ui-slider:after{
	content:"";
	position:absolute;
	display:block;
	top:0px;
	height:8px;
	width:33%;
	right:0;
}
.ui-slider-handle{
	width:12px;
	height:22px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	top:50%;
	display:inline-block;
	margin-top:-11px;
	position:absolute;
	z-index:1;
}
.range_values input[type="text"]{
	padding:0;
	width:50%;
	height:auto;
	border:none;
	background:transparent;
}
.custom_thumb{
	position:absolute;
	width:310px;
	background:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	position:absolute;
	bottom:100%;
	left:50%;
	margin:0 0 13px -155px;
	padding:6px;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow:0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow:0 1px 2px rgba(0,0,0,.2);
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	-webkit-transform:translateY(-35px);
	-moz-transform:translateY(-35px);
	-o-transform:translateY(-35px);
	-ms-transform:translateY(-35px);
	transform:translateY(-35px);
	opacity:0;
	visibility: hidden;
}
.custom_thumb img{
	max-width:100% !important;
}
.custom_thumb.active{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);	
	opacity:1;
	visibility: visible;
}
.custom_thumb:after{
	content:"";
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-top:8px solid #fff;
	border-right:8px solid transparent;
	position:absolute;
	left:50%;
	bottom:-8px;
	margin-left:-8px;
}
[class*="camera_caption_"]{
	position:absolute;
	height:100%;
	top:0;
}
[class*="camera_caption_"] img{
	max-width:100% !important;
}
.camera_caption_1{
	left:51.47%;
	padding-top:100px;
}
.camera_caption_2{
	left:10.98%;
	padding-top:120px;
}
.camera_caption_3{
	left:0;
	padding-top:60px;
	width:100%;
}
.tp-leftarrow,.tp-rightarrow,.flex-direction-nav a{
	z-index:100;cursor:pointer; position:relative;	width:60px;	height:60px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align: center;
	-webkit-transform:translateX(-40px);
	-moz-transform:translateX(-40px);
	-o-transform:translateX(-40px);
	-ms-transform:translateX(-40px);
	transform:translateX(-40px);
	opacity:0;
	background:rgba(41,47,56,.5);
	-webkit-transition:background-color .3s ease,opacity .3s ease,-webkit-transform .3s ease;
	-moz-transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
	-o-transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
	-ms-transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
	transition:background-color .3s ease,opacity .3s ease,transform .3s ease;
}
.sub_sideshow .flex-direction-nav a{
	width:40px;
	height:40px;
	margin-top:-20px;
}
.sub_sideshow .flex-direction-nav a i[class^="fa "]{
	line-height: 40px;
	font-size:1.8em;
	margin-top:0;
}
.tp-rightarrow,.flex-direction-nav .flex-next{
	-webkit-transform:translateX(40px);
	-moz-transform:translateX(40px);
	-o-transform:translateX(40px);
	-ms-transform:translateX(40px);
	transform:translateX(40px);
}
.ie9 .tp-leftarrow,.ie9 .tp-rightarrow{
	visibility: hidden;
}
.revolution_slider:hover .tp-leftarrow,.revolution_slider:hover .tp-rightarrow,
.flexslider:hover .flex-direction-nav a{
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	-o-transform:translateX(0px);
	-ms-transform:translateX(0px);
	transform:translateX(0px);
	opacity:1;
}
.ie9 .revolution_slider:hover .tp-leftarrow,.ie9 .revolution_slider:hover .tp-rightarrow,
.ie9 .flexslider:hover .flex-direction-nav a{
	visibility: visible;
}
.slide_caption{
	width:430px;
	right:40px;
	padding-top:94px;
}
.slide_caption_2{
	width:395px;
	left:40px;
	padding-top:100px;
}
.slide_caption_3{
	left:105px;
	right:105px;
	padding-top:45px;
}
.simple_s_caption{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:15px 20px;
	background:rgba(41,47,56,.7);
	-webkit-transform:translateY(100%);
	-moz-transform:translateY(100%);
	-o-transform:translateY(100%);
	transform:translateY(100%);
}
.sub_sideshow,.sub_video{
	width:555px;
}

/* -----------------------------------

	7. Tabs

------------------------------------- */

.tabs_nav li{
	margin-right: 3px;
}
.tabs_nav li a{
	padding:14px 20px 14px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-left-radius:0px;
	-moz-border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.tabs_nav .ui-tabs-active a,.tabs_nav li:hover a[class*="color"]{
	background:#323a45;
	color:#f9f9f9;
}
.tabs_content{
	background:#fff;
	padding:25px 20px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabs.vertical .tabs_nav{
	width:30%;
}
.tabs.vertical .tabs_nav li{
	margin-right:0;
}
.tabs.vertical .tabs_nav li a{
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px;
}
.tabs.vertical .tabs_content{
	width:70%;
	padding-top:15px;
}

/* -----------------------------------

	8. Carousels

------------------------------------- */

.product_brands .owl-item,
.our_recent_work_carousel .owl-item{
	padding:0 15px;
}
.product_brands .owl-item:hover a img,.m_image_wrap:hover img{
	-webkit-animation:sizejump .4s ease;
	-moz-animation:sizejump .4s ease;
	-o-animation:sizejump .4s ease;
	-ms-animation:sizejump .4s ease;
	animation:sizejump .4s ease;
}
.blog_carousel .owl-wrapper-outer{
	padding:0 0 5px 2px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	margin-left:-2px;
}
.blog_carousel .photoframe{
	margin-left:1px;
}
.testiomials_carousel .owl-item{
	padding:0 2px;
}
.blog_carousel .photoframe{
	width:263px;
}
[class*="qv_carousel"]:not(.qv_carousel_wrap){
	padding:0 35px;
}
.qv_carousel_wrap li{
	padding:0 3.5px;
	cursor:pointer;
}
.qv_carousel_wrap .qv_carousel_single li{
	padding:0 4.5px;
}
.qv_carousel_wrap [class*="qv_btn_"]{
	position:absolute;
	top:50%;
	margin-top:-15px;
	left:0;
	z-index:1;
}
.qv_carousel_wrap .qv_btn_next,
.qv_carousel_wrap .qv_btn_single_next{
	left:auto;
	right:0;
}
.wfilter_carousel:after{
	content:"";
	display:none;
	width:32px;
	height:32px;
	background:url("../images/loader_2.gif") no-repeat;
	position:absolute;
	top:50%;
	left:50%;
	margin:-16px 0 0 -16px;
}
.wfilter_carousel.changed:after{
	display:block;
}

/* -----------------------------------

	9. Twitter Feed

------------------------------------- */

.tweet_list > li{
	padding-top:15px;
	border-top:1px solid #ecf0f1;
	margin-top:15px;
}
.tweet_list > li:first-child{
	padding:0;
	border:none;
	margin:0;
}
.tweet_time,.tw_buttons a{
	font-style: italic;
	font-size:.9em;
}
.tw_buttons li:before{
	content:"";
	display:inline-block;
	width:3px;
	height:3px;
	background:#696e6e;
	margin:-2px 5px 0 0;
	vertical-align: middle;
}

/* -----------------------------------

	10. Lists and navigations

------------------------------------- */

.users_nav li{
	margin-left:8px;
}
.users_nav li:before,.l_width_divider li:before{
	content:"";
	display: inline-block;
	height:10px;
	border-left:1px solid #828686;
	margin:6px 8px 0 0;
}
.l_width_divider li:before{
	margin:0 15px 0 0;
}
.users_nav li:first-child:before,
.l_width_divider li:first-child:before{
	display: none;
}
.dropdown_list{
	position:absolute;
	top:100%;
	margin-top:10px;
	width:100%;
	-webkit-transform-origin:0 0 0;
	-moz-transform-origin:0 0 0;
	-o-transform-origin:0 0 0;
	-ms-transform-origin:0 0 0;
	transform-origin:0 0 0;
	-webkit-transform:rotate3d(1,0,0,90deg);
	-moz-transform:rotate3d(1,0,0,90deg);
	-o-transform:rotate3d(1,0,0,90deg);
	-ms-transform:rotate3d(1,0,0,90deg);
	transform:rotate3d(1,0,0,90deg);
	visibility:hidden;
}
.dropdown_list.type_2{
	min-width:110px;
	left:auto;
	right:0px;
}
.dropdown_list.opened{
	-webkit-animation:wicket .5s ease;
	-moz-animation:wicket .5s ease;
	-o-animation:wicket .5s ease;
	-ms-animation:wicket .5s ease;
	animation:wicket .5s ease;
	-webkit-transform:rotate3d(1,0,0,0deg);
	-moz-transform:rotate3d(1,0,0,0deg);
	-o-transform:rotate3d(1,0,0,0deg);
	-ms-transform:rotate3d(1,0,0,0deg);
	transform:rotate3d(1,0,0,0deg);
	visibility:visible;
}
.dropdown_list.closed{
	-webkit-animation:wicketout .5s ease;
	-moz-animation:wicketout .5s ease;
	-o-animation:wicketout .5s ease;
	-ms-animation:wicketout .5s ease;
	animation:wicketout .5s ease;
	visibility:visible;
}
.dropdown_list > li a{
	display:block;
	padding:4px 15px;
	background:#34495e;
}
.dropdown_list > li img{
	margin-right:6px;
}
.dropdown_list > li:first-child a{
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.dropdown_list > li:last-child a{
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.dropdown_list > li a:hover{
	background:#2c3e50;
}
.top_arrow:before{
	content:"";
	width:0;
	height:0;
	border-left:7px solid transparent;
	border-bottom-width:8px;
	border-bottom-style:solid;
	border-right:7px solid transparent;
	position:absolute;
	top:-8px;
	right:16px;
}
.dropdown_list:before{
	border-bottom-color:#34495e;
}
.products_list li{
	padding:15px;
	line-height:1.2em;
	border-top:1px solid #ecf0f1;
}
.menu_wrap .site_settings.f_right{
	margin:10px;
}
.site_settings li{
	z-index:190;
}
.site_settings.type_2 li{
	z-index:192;
}
.rating_list:not(.type_2){
	margin-top:4px;
	opacity:0;
}
.rating_list li{
	cursor:pointer;
	width:13px;
	height:14px;
	position:relative;
	margin-left:.5px;
}
.rating_list li .empty,.rating_list li .active{
	position:absolute;
	opacity:0;
	color:#ffcc00;
	left:0;
	line-height: 1;
}
.rating_list li .empty{
	opacity:.4;
}
.rating_list li.active .active,.product_item .photoframe:hover .rating_list,fieldset:hover .close_fieldset,.select_color.active i,
.categories_list .active > a > span:after,#go_to_top.type_2.animate_horizontal_finished:hover,
.cw_product .close_fieldset,.owl-item .photoframe:hover .rating_list,.a_title.active .minus_icon{
	opacity:1;
}
.rating_list li.active .empty,.close_fieldset,.select_color i,
.categories_list .active > a > span:before,.categories_list a > span:after,
.hide,#go_to_top.type_2.animate_ftl,.a_title.active .plus_icon,.a_title .minus_icon{
	opacity:0;
}
.vertical_list{
	margin-top:-8px;
}
.vertical_list li a{
	display:block;
	padding:8px 0;
	border-top:1px solid #404852;
	position:relative;
}
.vertical_list li:first-child a,.categories_list > li:last-child > a{
	border:none;
}
.vertical_list li a i[class^="fa "]{
	position:absolute;
	right:0;
	top:50%;
	margin-top:-7px;
}
.social_widgets{
	position:fixed;
	right:0;
	top:26%;
	z-index:189;
}
.social_widgets > li{
	margin-bottom:4px;
	transition:all .4s ease;
}
.social_widgets > li.opened{
	-webkit-transform:translateX(-265px);
	-moz-transform:translateX(-265px);
	-o-transform:translateX(-265px);
	-ms-transform:translateX(-265px);
	transform:translateX(-265px);
	z-index:1;
}
.c_info_list,.w_break{
	word-break:break-all;
}
.c_info_list .contact_e{
	padding-left:20px;
	display:block;
}
.c_info_list i{
	line-height: inherit;
}
.categories_nav_list{
	margin-right:-15px;
}
.categories_nav_list .wrapper{
	margin-bottom:8px;
}
.select_title{
	cursor:pointer;
	padding:2px 39px 3px 9px;
	border:2px solid #e4e4e2;
	background:#f5f7f8;
	z-index:1;
	min-width:75px;
	-webkit-transition:border-color .4s ease;
	-moz-transition:border-color .4s ease;
	-o-transition:border-color .4s ease;
	transition:border-color .4s ease;
}
.select_title.type_2{
	padding:7px 40px 8px 10px;
}
.select_title.active{
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	border-bottom-color:transparent;
	background:#fff;
}
.select_title:after{
	content:"\f107";
	display:inline-block;
	font-family: FontAwesome;
	line-height: inherit;
	position:absolute;
	color:#292f38;
	font-size:14px;
	right:8px;
	top:50%;
	margin-top:-10px;
}
.select_title.active:after{
	content:"\f106";
}
.select_title.type_2:after{
	font-size:18px;
	right:10px;
}
.select_title:before{
	content:"";
	border-left:1px solid #e4e4e2;
	position:absolute;
	height:12px;
	right:27px;
	top:50%;
	margin-top:-6px;
}
.select_title.type_2:before{
	height:22px;
	margin-top:-11px;
	right:33px;
}
.select_list{
	position:absolute;
	left:0;
	top:100%;
	cursor:pointer;
	width:100%;
	background: #fff;
	border-left:2px solid #e4e4e2;
	border-right:2px solid #e4e4e2;
	border-bottom:2px solid #e4e4e2;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	z-index:22;
}
.select_title.type_2 + .select_list > li{
	padding-top:7px;
	padding-bottom:8px;
}
.select_list > li{
	color:#6a6a6a;
	padding:3px 10px;
}
.select_list > li:hover{
	color:#000;
}
.categories_list{
	margin-top:-7px;
}
.categories_list a{
	padding:7px 25px 7px 0;
	border-bottom:1px solid #ecf0f1;
	word-break:break-all;
}
.categories_list > li:last-child > a{
	padding-bottom:0px;
}
.categories_list ul > li > a{
	padding-left:20px;
}
.categories_list ul ul > li > a{
	padding-left:40px;
}
.categories_list a > span{
	display:block;
	width:23px;
	height:23px;
	line-height: 23px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-11.5px;
}
.categories_list a > span:before,.categories_list a > span:after{
	content:"";
	width:9px;
	height:9px;
	background:url("../images/plusminus.png") no-repeat;
	position: absolute;
	display:block;
	top:50%;
	left:50%;
	margin:-5px 0 0 -4px;
	-webkit-transition:opacity .4s ease;
	-moz-transition:opacity .4s ease;
	-o-transition:opacity .4s ease;
	transition:opacity .4s ease;
}
.categories_list a > span:after{
	height:1px;
	width:8px;
	background-position: 0 -9px;
	margin:-1px 0 0 -4px;
}
@media only screen and (-webkit-min-device-pixel-ratio:0){
	.categories_list a > span:before,
	.categories_list a > span:after{
		margin-left:-5px;
	}
	#lang_button > img{
		margin-top:-1px;
	}
	.flexslider:not(.simple_slide_show) .slides img,
	.progress_bar > div{
		-webkit-border-radius:4px;
		border-radius:4px;
	}
	.flexslider.portfolio .slides img{
		-webkit-border-radius:0px;
		border-radius:0px;
	}
	.widget figcaption,.a_title{
		-webkit-border-radius:4px 4px 0 0;
		border-radius:4px 4px 0 0;
	}
	.button_type_14 > i[class^="fa "]{
		margin-top:1px;
	}
}
.tags_list{margin-top:-3px;}
.tags_list a{padding:3px 0;}
.vertical_list_type_2 li,
.vertical_list_type_3 li,
.vertical_list_type_4 li{
	position:relative;
	padding-left:17px;
}
.vertical_list_type_5 li{
	position:relative;
	padding-left:20px;
}
.vertical_list_type_2 li:before,
.vertical_list_type_3 li:before,
.vertical_list_type_4 li:before{
	content:"";
	width:6px;
	height:6px;
	display:block;
	position:absolute;
	left:0;
	top:8px;
}
.vertical_list_type_3 li:before{
	background:transparent;
	border-width:1px;
	border-style:solid;
}
.vertical_list_type_6 li > span{
	min-width:14px;
}
.vertical_list_type_5 li > i,
.vertical_list_type_5 li > span{
	position:absolute;
	left:0;
	top:2px;
}
.vertical_list_type_5 li > span{
	top:0;
}
.vertical_list_type_7,
.vertical_list_type_8{
	counter-reset: itemcount;
}
.vertical_list_type_7 li,
.vertical_list_type_8 li{
	counter-increment: itemcount;
	position:relative;
	padding-left:40px;
}
.vertical_list_type_8 li{
	padding-left:30px;
}
.vertical_list_type_7 li:before{
	content:"0" counter(itemcount);
	display:block;
	position:absolute;
	top:6px;
	left:0;
	text-align: center;
	width:30px;
	font-weight:500;
	height:30px;
	padding-top:2px;
	border-width:2px;
	border-style:solid;
	letter-spacing: -.5px;
}
.vertical_list_type_8 li:before{
	content:counter(itemcount);
	display:block;
	position:absolute;
	top:3px;
	left:0;
	text-align: center;
	width:20px;
	font-weight:500;
	height:20px;
}


/* -----------------------------------

	11. Buttons

------------------------------------- */

.button_type_1{
	padding:9px 15px 10px 10px;
}
.button_type_2{
	padding:9px 16px 10px;
}
.button_type_3{
	padding:9px 16px 8px;
}
.button_type_4,.button_type_8{
	padding:8px 15px;
	min-width:123px;
}
.button_type_5{
	padding:8px 12px 9px;
	background:rgba(41,47,56,.5);
}
.button_type_6{
	padding:12px 20px;
}
.button_type_7{
	height:30px;
	width:30px;
}
.button_type_10{
	height:23px;
}
.button_type_11{
	width:30px;
	height:30px;
}
.button_type_12{
	padding:14px 22px 13px;
}
.button_type_13{
	padding:10px 2px 9px;
	background:rgba(41,47,56,.8);
}
.button_type_14{
	padding:8px 21.5px 7px;
	min-height:38px;
}
.button_type_15{
	padding:6px 21.5px;
}
.button_type_16{
	padding:5px 21.5px 2px;
}
[class*="button_type"]:not(.bg_tr){
	position: relative;
	-webkit-box-shadow:0 2px 0 #bdc3c7;
	-moz-box-shadow:0 2px 0 #bdc3c7;
	-o-box-shadow:0 2px 0 #bdc3c7;
	-ms-box-shadow:0 2px 0 #bdc3c7;
	box-shadow:0 2px 0 #bdc3c7;
}
[class*="button_type_"]:not(.bg_tr):hover,[class*="button_type_"].bg_dark_color{
	-webkit-box-shadow:0 2px 0 #2c3e50;
	-moz-box-shadow:0 2px 0 #2c3e50;
	-o-box-shadow:0 2px 0 #2c3e50;
	-ms-box-shadow:0 2px 0 #2c3e50;
	box-shadow:0 2px 0 #2c3e50;
}
[class*="button_type_"].bg_scheme_color,
[class*="button_type_"].bg_dark_color:hover{
	-webkit-box-shadow:0 2px 0 #c0392b;
	-moz-box-shadow:0 2px 0 #c0392b;
	-o-box-shadow:0 2px 0 #c0392b;
	-ms-box-shadow:0 2px 0 #c0392b;
	box-shadow:0 2px 0 #c0392b;
}
[class*="button_type_"].active,[class*="button_type_"]:not(.bg_cs_hover):hover,
[class*="button_type_"].color_dark:not(.bg_cs_hover):hover,.isotope_menu > .active [class*="button_type_"],
[class*="button_type_"].bg_dark_color,.banner:hover [class*="button_type_"].bg_scheme_color,#menu_button:hover,#menu_button.active,
#shopping_button:hover > a{
	background:#34495e;
	color:#fff;
}
.button_type_8:hover,.button_type_8.bg_scheme_color:hover{
	background: #e2e6e7;
	color: #434649;
	-webkit-box-shadow:0 2px 0 #bdc3c7;
	-moz-box-shadow:0 2px 0 #bdc3c7;
	-o-box-shadow:0 2px 0 #bdc3c7;
	-ms-box-shadow:0 2px 0 #bdc3c7;
	box-shadow:0 2px 0 #bdc3c7;
}
[class*="button_type_"].bg_color_blue{
	background:#3498db;
	-webkit-box-shadow:0 2px 0 #2980b9;
	-moz-box-shadow:0 2px 0 #2980b9;
	-o-box-shadow:0 2px 0 #2980b9;
	-ms-box-shadow:0 2px 0 #2980b9;
	box-shadow:0 2px 0 #2980b9;
}
[class*="button_type_"].bg_color_green{
	background:#2ecc71;
	-webkit-box-shadow:0 2px 0 #27ae60;
	-moz-box-shadow:0 2px 0 #27ae60;
	-o-box-shadow:0 2px 0 #27ae60;
	-ms-box-shadow:0 2px 0 #27ae60;
	box-shadow:0 2px 0 #27ae60;
}
[class*="button_type_"].bg_color_orange{
	background:#f39c12;
	-webkit-box-shadow:0 2px 0 #e67e22;
	-moz-box-shadow:0 2px 0 #e67e22;
	-o-box-shadow:0 2px 0 #e67e22;
	-ms-box-shadow:0 2px 0 #e67e22;
	box-shadow:0 2px 0 #e67e22;
}
.count{
	position:absolute;
	width:18px;
	height:18px;
	line-height: 18px;
	color:#fff;
	font-size:.8em;
	right:8px;
	top:14px;
}
.count.type_2{
	background:#34495e;
}
.search_button{
	background-color:transparent;
	color:#bdc3c7;
	margin-top:20px;
}
[class*="s_form_wrap"] .search_button{
	margin-top:9px;
}
.close_search_form{
	font-size:1.3em;
	background-color:transparent;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
}
.searchform_wrap.type_2 .close_search_form{
	right:28px;
}
.searchform_wrap.type_3 .close_search_form{
	right:0px;
}
.isotope_menu [class*="button_type_"]:after{
	content:"";
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-top:8px solid transparent;
	border-right:8px solid transparent;
	position:absolute;
	bottom:-8px;
	left:50%;
	margin-left:-8px;
	-webkit-transition:border-color 1s ease;
	-moz-transition:border-color 1s ease;
	-o-transition:border-color 1s ease;
	transition:border-color 1s ease;
}
.isotope_menu [class*="button_type_"]:hover:after,
.isotope_menu > .active [class*="button_type_"]:after{
	-webkit-transition:border-color .1s ease;
	-moz-transition:border-color .1s ease;
	-o-transition:border-color .1s ease;
	transition:border-color .1s ease;
	border-top-color:#34495e;
}
.pp_wrap > [class*="button_type_"]{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%) scale(.1);
	-moz-transform:translate(-50%,-50%) scale(.1);
	-o-transform:translate(-50%,-50%) scale(.1);
	-ms-transform:translate(-50%,-50%) scale(.1);
	transform:translate(-50%,-50%) scale(.1);
	opacity:0;
}
.photoframe.type_2 .pp_wrap > [class*="button_type_"]{
	top:auto;
	bottom:-9px;
}
.button_type_5:hover{
	background:rgba(41,47,56,.8) !important;
}
.button_type_13:hover{
	background:rgba(41,47,56,1) !important;
}
.product_item .photoframe:hover .pp_wrap > [class*="button_type_"],
.owl-item > .photoframe:hover .pp_wrap > [class*="button_type_"]{
	-webkit-transform:translate(-50%,-50%) scale(1);
	-moz-transform:translate(-50%,-50%) scale(1);
	-o-transform:translate(-50%,-50%) scale(1);
	-ms-transform:translate(-50%,-50%) scale(1);
	transform:translate(-50%,-50%) scale(1);
	opacity:1;
}
#go_to_top{
	width:40px;
	height:40px;
	color:#fff;
	background:#262c34;
	position:fixed;
	left:50%;
	margin:-20px 0 0 620px;
	top:50%;
	font-size:1.65em;
}
#go_to_top.type_2.animate_horizontal_finished{
	opacity:.5;
}
#go_to_top i:only-of-type,.sw_button i:only-of-type{
	line-height: 40px;
}
.sw_button{
	width:40px;
	height:40px;
	color:#fff;
	font-size:1.3em;
	-webkit-border-top-left-radius:4px;
	-moz-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}
.sw_button:hover{
	-webkit-animation:jump .4s ease;
	-moz-animation:jump .4s ease;
	animation:jump .4s ease;
}
#menu_button{
	padding:7px 10px;
	width:60px;
}
#menu_button > span{
	display:block;
	height:3px;
	background:#fff;
	margin:6px 0;
}
.select_color{
	width:26px;
	height:26px;
	border:2px solid #e2e6e7;
	padding:2px;
	background-clip:content-box;
}
.select_color.blue{background-color:#2daae1;}
.select_color.green{background-color:#1abc9c;}
.select_color.grey{background-color:#b7babb;}
.select_color.yellow{background-color:#f3f656;}
#login_popup .button_type_4{
	min-width: 100px;
}
#login_popup [role="button"]{
	margin-left:38px;
}

/* -----------------------------------

	12. Tables

------------------------------------- */

.description_table{
	margin-top:-5px;
}
.description_table td{
	padding:5px 0;
}
.description_table tr td:first-child{
	min-width:108px;
}
.description_table.type_2 tr td:first-child{
	min-width:65px;
}
.description_table.type_3 tr td:first-child{
	min-width:175px;
}
[class*="table_type_"]{
	background:#fff;
}
[class*="table_type_"] th,[class*="table_type_"] td{
	border:1px solid #ecf0f1;
}
.table_type_1 tr:first-child th:first-child,
.table_type_2 tr:first-child th:first-child,
.table_type_3 tr:first-child th:first-child,
.table_type_4 tr:first-child th:nth-child(4),
.table_type_6 tr:first-child td:first-child,
.table_type_8 tr:first-child th:first-child{width:150px;}
.table_type_1 tr:first-child th:nth-child(2),
.table_type_3 tr:first-child th:nth-child(2),
.table_type_3 tr:first-child th:nth-child(3){width:262px;}
.table_type_1 tr:first-child th:nth-child(3),
.table_type_4 tr:first-child th:nth-child(3){width:110px;}
.table_type_1 tr:first-child th:nth-child(4){width:145px;}
.table_type_2 tr:first-child th:not(:first-child){width:330px;}
.table_type_4 tr:first-child th:first-child{width:320px;}
.table_type_4 tr:first-child th:nth-child(2){width:90px;}
.table_type_5 td:first-child{width:670px;}
.table_type_7 tr:first-child th:first-child{width:74px;}
.table_type_7 tr:first-child th:nth-child(2){width:180px;}
.table_type_7 tr:first-child th:nth-child(4),
.table_type_7 tr:first-child th:nth-child(7){width:100px;}
.table_type_7 tr:first-child th:nth-child(5){width:65px;}
.table_type_7 tr:first-child th:nth-child(6){width:80px;}
.table_type_7 tr:first-child th:nth-child(3){width:160px;}
.table_type_8 tr:first-child th:nth-child(2){width:262px;}
[class*="table_type_"] tr:first-child th{
	padding:15px 20px;
	border-top:none;
}
[class*="table_type_"] tr:first-child th:first-child,
[class*="table_type_"] tr td:first-child{
	border-left:none;
}
[class*="table_type_"] tr:first-child th:last-child,
[class*="table_type_"] tr td:last-child{
	border-right:none;
}
[class*="table_type_"] tr:last-child td{
	border-bottom:none;
}
.table_type_1 td,.table_type_4 td{
	padding:20px;
}
.table_type_2 td{
	padding:12px 20px;
}
.table_type_3 td,.table_type_5 td,.table_type_6 td,.table_type_6 td[class*="half_column"],.table_type_7 td{
	padding:14px 20px;	
}
.table_type_4 td[colspan],.table_type_4 td[colspan] + td{
	padding-top:14px;
	padding-bottom:14px;
}
.table_type_4 tr:last-child td{
	padding:10px 20px;
}
.table_type_5 tr:first-child td:first-child{
	padding-top:25px;
}
.table_type_5 tr:last-child td,.table_type_5 tr:nth-last-child(2) td{
	border:none;
}
.table_type_5 tr:nth-last-child(2) td{
	padding-bottom:0;
}
.table_type_8 td{
	padding:14px 20px;
}
.about_project td:first-child{
	width:96px;
}
.about_project tr:not(:first-child){
	border-top:1px solid #e2e6e7;
}
.about_project td{
	padding:7px 0;
}
.about_project tr:first-child td{
	padding-top:2px;
}
.p_table{
	width:283px;
	margin:0 1px;
	-webkit-transition:box-shadow .2s ease,opacity 1s ease !important;
	-moz-transition:box-shadow .2s ease,opacity 1s ease !important;
	-o-transition:box-shadow .2s ease,opacity 1s ease !important;
	transition:box-shadow .2s ease,opacity 1s ease !important;
}
.p_table > header{
	padding:10px 0 9px;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
}
.p_table > .price{
	padding:16px 0 17px;
}
.price dt{
	font-size:2.6em;
	line-height:1em;
}
.p_list > li{
	padding:11.5px 20px;
	background:#f4f6f7;
	position:relative;
}
.p_list i[class^="fa "]{
	position:absolute;
	left:10px;
	height:100%;
}
.p_table > footer a{
	padding:14px 0 15px;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
}
.p_table > .hot_p{
	position: absolute;
	top:-5px;
	right:-5px;
}
.p_table:hover,.p_table.active{
	margin-top:-15px;
	margin-left:-4px;
	margin-right:-4px;
	width:293px;
	z-index:2;
	-webkit-box-shadow:0 0 17px rgba(0,0,0,.13);
	-moz-box-shadow:0 0 17px rgba(0,0,0,.13);
	-o-box-shadow:0 0 17px rgba(0,0,0,.13);
	box-shadow:0 0 17px rgba(0,0,0,.13);
}
.p_table.active{
	z-index:1;
}
.p_table:hover > header,.p_table.active > header{
	padding:12px 0;
}
.p_table:hover > footer a,.p_table.active > footer a{
	padding:17px 0;
}
.p_table:hover .p_list > li,.p_table.active .p_list > li{
	padding:12.5px 25px;
}
.p_table:hover > .price, .p_table.active .price{
	padding-bottom:21px;
}

/* -----------------------------------

	13. Icons

------------------------------------- */

i[class^="fa "]{
	line-height: inherit;
}
[class*="button_type_"]:not(.button_type_1) > i:not([class*="m_"]):only-of-type{
	margin-left:10px;
	margin-right:10px;
}
.button_type_1 > i[class^="fa "],.button_type_4 > i[class^="fa "]:not([class*="f_size"]),
.button_type_5 > i[class^="fa "]{
	font-size:21px;
}
.shop_icon{
	position:relative;
	margin-right:15px;
}
.shop_icon i[class^="fa "]{
	font-size:24px;
	margin-top:-2px;
}
.shop_icon .count{
	right:-8px;
	top:4px;
}
.social_icons li a{
	display:block;
	width:39.5px;
	height:40px;
	color:#838a8f;
}
.social_icons li a i[class^="fa "]{
	line-height: 40px;
}
.social_icons .facebook:hover a,.sw_button.facebook{background:#3b5998;}
.social_icons .twitter:hover a,.sw_button.twitter,.tw_color{background:#2daae1;}
.social_icons .google_plus:hover a{background:#f63e28;}
.social_icons .rss:hover a{background:#ff7e00;}
.social_icons .pinterest:hover a{background:#cb2027;}
.social_icons .instagram:hover a{background:#835e42;}
.social_icons .linkedin:hover a{background:#0073b2;}
.social_icons .vimeo:hover a{background:#44b0de;}
.social_icons .youtube:hover a{background:#ff3132;}
.social_icons .flickr:hover a{background:#ff0084;}
.social_icons .envelope:hover a,.sw_button.contact{background:#1abc9c;}
[class*="button_type_"].tw_color{
	-webkit-box-shadow:0 2px 0 #2896c6;
	-moz-box-shadow:0 2px 0 #2896c6;
	-o-box-shadow:0 2px 0 #2896c6;
	-ms-box-shadow:0 2px 0 #2896c6;
	box-shadow:0 2px 0 #2896c6;
}
.glyphicon_item i[class^="fa "]{
	font-size:60px;
}
.icon_wrap_1{
	width:60px;
	height:60px;
	font-size:26px;
}
.icon_wrap_2{
	font-size:26px;
}
.info_block_type_3 .icon_wrap_2{
	margin-left:-45px;
}
.info_block_type_1 .icon_wrap_1{
	margin-left:-80px;
}
.info_block_type_2:hover [class*="icon_wrap"]{
	color:#ecf0f1
}
[class*="info_block_"]:hover [class*="icon_wrap"]{
	-webkit-animation:jump .4s ease;
	-moz-animation:jump .4s ease;
	-o-animation:jump .4s ease;
	animation:jump .4s ease;
}

/* -----------------------------------

	14. Main content elements

------------------------------------- */

.shopping_cart{
	position:absolute;
	top:100%;
	margin-top:10px;
	border-top-width:3px;
	border-top-style:solid;
	right:0;
	min-width:380px;
	background:#fff;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,.1);
	-o-box-shadow:0 1px 1px rgba(0,0,0,.1);
	-ms-box-shadow:0 1px 1px rgba(0,0,0,.1);
	box-shadow:0 1px 1px rgba(0,0,0,.1);
	-webkit-transform-origin:70% 0 0;
	-moz-transform-origin:70% 0 0;
	-o-transform-origin:70% 0 0;
	-ms-transform-origin:70% 0 0;
	transform-origin:70% 0 0;
	-webkit-transform:scale(0.2) translate(200px,-200px);
	-moz-transform:scale(0.2) translate(200px,-200px);
	-o-transform:scale(0.2) translate(200px,-200px);
	-ms-transform:scale(0.2) translate(200px,-200px);
	transform:scale(0.2) translate(200px,-200px);
	opacity:0;
	visibility: hidden;
}
.shopping_cart:after{
	 content:"";
	 position:absolute;
	 display:block;
	 height:13px;
	 width:100%;
	 margin-top:-13px;
	 left:0;
	 top:0;
}
#shopping_button:hover .shopping_cart{
	-webkit-transform:scale(1) translate(0px,0px);
	-moz-transform:scale(1) translate(0px,0px);
	-o-transform:scale(1) translate(0px,0px);
	-ms-transform:scale(1) translate(0px,0px);
	transform:scale(1) translate(0px,0px);
	opacity:1;
	visibility: visible;
}
.shopping_cart .sc_header{
	padding:12px 15px 9px;
}
.shopping_cart:before,.sub_menu_wrap:before{
	top:-11px;
}
#shopping_button{
 z-index:189;
}
hr{
	border-color:#ecf0f1;
}
.divider_type_2{
	border-bottom-style:solid;
	border-bottom-width:2px;
	width:58px;
	border-color:rgba(50,58,69,.1);
}
.divider_type_3,.l_width_divider > li:before{
	border-color:#e2e6e7;
}
.divider_type_4{
	border-color:#404852;
}
.divider_type_5{
	width:58px;
	height:2px;
	background:#e6e9eb;
}
.divider_type_6{
	border-color:#e2e2e2;
}
.product_description{
	width:205px;
}
.close_product{
	font-weight: 300;
	margin-top:22px;
	background-color:transparent;
}
.total_price{
	padding:12px 20px;
	line-height: 1.2em
}
.sc_price{
	min-width:70px;
}
.sc_footer{
	padding:14px 15px 20px;
}
.page_content_offset{
	padding:60px 0;
}
.product_item,.owl-item > .photoframe{
	margin:15px;
}
.product_item .photoframe figcaption,.owl-item > .photoframe figcaption{
	padding:16px 0 12px;
}
.product_item .photoframe.type_2 figcaption{
	padding:3px 10px 0 0;
}
.product_item .photoframe img,.owl-item > .photoframe img,
.simple_slide_show img{
	-webkit-transform:none !important;
	-moz-transform:none !important;
	-o-transform:none !important;
	-ms-transform:none !important;
	transform:none !important;
}
.pp_wrap{
	z-index:1;
}
.product_item .photoframe:hover,.categories_nav_list .photoframe:hover,
.owl-item > .photoframe:hover{
	-webkit-box-shadow:0 0 17px rgba(0,0,0,0.12);
	-moz-box-shadow:0 0 17px rgba(0,0,0,0.12);
	-o-box-shadow:0 0 17px rgba(0,0,0,0.12);
	-ms-box-shadow:0 0 17px rgba(0,0,0,0.12);
	box-shadow:0 0 17px rgba(0,0,0,0.12);
}
.hot_stripe{
	position:absolute;
	top:-14px;
	right:-14px;
	z-index:1;
}
.hot_stripe.type_2{
	right:auto;
	left:-14px;
}
.qv_preview .hot_stripe{
	top:-4px;
	right:-4px;
}
.qv_preview [class*="button_type_"]{
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:2;
}
.p_buttons{
	position:absolute;
	right:10px;
	bottom:10px;
	-webkit-transform:translateX(120%);
	-moz-transform:translateX(120%);
	-o-transform:translateX(120%);
	-ms-transform:translateX(120%);
	transform:translateX(120%);
	-webkit-transition-delay:.25s;
	transition-delay:.25s;
}
.product_item .photoframe:hover .p_buttons,
.owl-item .photoframe:hover .p_buttons{
	-webkit-transform:translateX(0%);
	-moz-transform:translateX(0%);
	-o-transform:translateX(0%);
	-ms-transform:translateX(0%);
	transform:translateX(0%);
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, box-shadow;
     -moz-transition-property:    -moz-transform, opacity, box-shadow;
      -ms-transition-property:     -ms-transform, opacity, box-shadow;
       -o-transition-property:      -o-transform, opacity, box-shadow;
          transition-property:         transform, opacity, box-shadow;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.products_container{
	padding-bottom:10px;
	margin-left:-15px;
	margin-right:-15px;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.products_container.list_type{
	overflow: visible !important;
}
.banner_caption{
	position:absolute;
	width:291px;
	height:100%;
	left:17px;
	top:0;
}
.banner.type_2 .banner_caption{
	width:150px;
	left:27px;
}
.banner_type_2{
	background:#fff;
	border-width:5px;
	border-style:solid;
	padding:10px;
	height: 100px;
	font-size:1.71em;
}
.banner_type_2.green{
	border-color:#1abc9c;
}
.banner_type_2.green b{
	color:#16a085;
}
.banner_type_2.orange{
	border-color:#e67e22;
}
.banner_type_2.orange b{
	color:#d35400;
}
.photoframe{
	border:10px solid #fff;
	z-index:1;
	background:#fff;
}
.with_buttons:after{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	background: rgba(41,47,56,.3);
	-webkit-transition:opacity .7s ease;
	-moz-transition:opacity .7s ease;
	-o-transition:opacity .7s ease;
	transition:opacity .7s ease;
}
.open_buttons{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-20px;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:3;
}
.open_buttons > *{
	opacity:0;
	-webkit-transform:translateY(20px);
	-moz-transform:translateY(20px);
	-o-transform:translateY(20px);
	transform:translateY(20px);
}
.open_buttons > *:first-child{
	-webkit-transition-delay:.2s;
	-moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-ms-transition-delay:.2s;
}
.open_buttons > *:nth-child(2){
	-webkit-transition-delay:.4s;
	-moz-transition-delay:.4s;
	-o-transition-delay:.4s;
	-ms-transition-delay:.4s;
}
.open_buttons > *:nth-child(3){
	-webkit-transition-delay:.6s;
	-moz-transition-delay:.6s;
	-o-transition-delay:.6s;
	-ms-transition-delay:.6s;
}
.photoframe:not(.type_2):hover img,.specials_item .d_block.wrapper:hover img{
	-webkit-transform:scale(1.08);
	-moz-transform:scale(1.08);
	-o-transform:scale(1.08);
	-ms-transform:scale(1.08);
	transform:scale(1.08);
}
.nav_buttons_wrap{
	margin-top:-4px;
}
.nav_buttons_wrap_type_2{
	position:absolute;
	top:50%;
	right:10px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
.mini_post_content{
	padding:5px 0;
}
.tooltip{
	position:absolute;
	display:block;
	background:#e2e6e7;
	padding:3px 10px;
	bottom:100%;
	margin-bottom:10px;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	opacity:0;
	visibility: hidden;
	white-space: pre;
	z-index:5;
}
.tooltip:after{
	content:"";
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-top:5px solid #e2e6e7;
	border-right:8px solid transparent;
	position:absolute;
	bottom:-5px;
	left:50%;
	margin-left:-8px;
}
li:hover .tooltip,a:hover .tooltip,button:hover .tooltip{
	opacity: 1;
	visibility: visible;
}
.sw_content{
	position:absolute;
	left:100%;
	top:0;
	padding:15px 20px 30px;
	width:265px;
	overflow: hidden;
	background:#fff;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}
#gmap_mini{
	height:225px;
}
.breadcrumbs{
	background:#f2f4f5;
	padding:9px 0;
}
.widget figcaption{
	background:#323a45;
	padding:15px 20px 14px;
}
.widget figcaption[class*="relative"]{
	padding-right:85px;
}
.widget_content{
	padding:23px 20px 25px;	
	background: #fff;
}
.popup_wrap{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.5);
	z-index:200;
}
.popup{
	background:#fff;
	padding:26px 20px 30px;
	position:absolute;
	top:50%;
	left:50%;
	width:790px;
	overflow:hidden;
}
.popup > .close{
	position:absolute;
	top:9px;
	right:12px;
}
#login_popup .popup{
	width:390px;
	padding-left:30px;
	padding-right:30px;
}
#login_popup footer{
	padding:20px 30px;
	margin:0 -30px -30px;
}
.quantity{
	background:#f5f7f8;
	border:2px solid #e4e4e2;
}
.popup .custom_scrollbar{
	height:567px;
}
.popup .half_column:nth-child(2){
	padding-right:15px;
}
.p_list_description{
	width:375px;
}
.product_single_preview{
	width:458px;
	z-index:0;
}
.iframe_video_wrap,.map_container{
	width:100%;
	height:0;
	position: relative;
	padding-bottom:56%;
}
.map_container{padding-bottom:43%;}
.iframe_video_wrap > iframe,.map_container > iframe{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.addthis_widget_container{
	min-width:300px;
}
aside .addthis_widget_container{
	min-width:284px;
}
[class*="alert_box"]{
	padding:25px 20px 25px 65px;
	position: relative;
}
[class*="alert_box"] i[class^="fa "]{
	font-size:36px;
	position:absolute;
	left:20px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}
[class*="alert_box"].success{
	background:rgba(39,174,96,.1);
}
[class*="alert_box"].success i[class^="fa "]{color:#2ecc71;}
[class*="alert_box"].info{
	background:rgba(52,152,219,.1);
	color:#2980b9;
}
[class*="alert_box"].info i[class^="fa "]{color:#3498db;}
[class*="alert_box"].error{
	background:rgba(231,76,60,.1);
	color:#cb2700;
}
[class*="alert_box"].warning i[class^="fa "]{color:#f39c12;}
[class*="alert_box"].warning{
	background:rgba(243,156,18,.1);
	color:#e67e22;
}
.manufacturers{
	padding:30px 20px 25px;
}
.bs_inner_offsets{
	padding:24px 19px 20px;
}
.block_select{
	cursor:pointer;
	padding-left:32px;
}
.block_select:before{
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.discount{
	width:145px;
}
.cw_product .close_fieldset{
	position:absolute;
	top:-1px;
	right:0;
}
.cw_product{
	padding-right:20px;
}
.rating_min_article{
	padding:2px 0 4px;
}
.comment{
	padding:15px 20px;
}
.comment:after{
	content:"";
	display:block;
	position:absolute;
	background:url("../images/comment_arrow.png") no-repeat;
	width:9px;
	height:18px;
	left:-9px;
	top:20px;
}
.comment_content_wrap{
	margin-left:99px;
}
.category_grid .product_item{
	width:262px;
}
.zoomLens{
	display:none !important;
}
.zoomContainer{
	width:0 !important;
	height:0 !important;
}
.portfolio_isotope_container,
.portfolio_masonry_container{
	margin-right:-15px;
	margin-left:-15px;
}
.portfolio_isotope_container .portfolio_item,
.portfolio_masonry_container .portfolio_item{
 margin:15px 0;
 padding:0 15px;
}
.portfolio_isotope_container.two_columns .portfolio_item{
 width:50%;
}
.portfolio_isotope_container.three_columns .portfolio_item{
 width:33.3%;
}
.portfolio_isotope_container.four_columns .portfolio_item{
 width:24.9%;
}
.portfolio_masonry_container .portfolio_item.m_width_2{
	width:353px;
}
.portfolio_masonry_container .portfolio_item.m_width_3{
	width:257px;
}
.portfolio_filter{
	width:175px;
}

.a_title{
	padding:14px 40px 15px 19px;
	cursor:pointer;
}
.a_title.active{
	background:#323a45;
}
.a_title [class*="us_icon"]{
	position:absolute;
	right:20px;
	height:100%;
}
.a_content{
	padding:24px 20px;
}
.glyphicon_item{
	padding:20px;
	height:130px;
}
.glyphicon_item dl dt{
	font-size:2.6em;
	line-height: 1em;
	margin-bottom:3px;
}
.glyphicon_item dl dd{
	font-size:1.3em;
	line-height: 1em;
}
.tooltip_type_2.top{
	margin-bottom:3px;
	bottom:100%;
	left:50%;
}
.tooltip_type_2{
	background:#e2e6e7;
	padding:2px 10px;
	position:absolute;
	white-space:nowrap;
	opacity:0;
	visibility: hidden;
}
.tooltip_type_2:after{
	content:"";
	position:absolute;
}
.tooltip_type_2.bottom{
	top:100%;
	left:50%;
	margin-top:5px;
}
.tooltip_type_2.top,.tooltip_type_2.bottom{
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}
.tooltip_type_2.right,.tooltip_type_2.left{
	-webkit-transform:translateY(-51%);
	-moz-transform:translateY(-51%);
	-o-transform:translateY(-51%);
	transform:translateY(-51%);
}
.tooltip_type_2.left{
	top:50%;
	right:100%;
	margin-right:9px;
}
.tooltip_type_2.right{
	top:50%;
	left:100%;
	margin-left:5px;
}
.tooltip_type_2.top:after{
	top:100%;
	border-left:7px solid transparent;
	border-top:5px solid #e2e6e7;
	border-right:7px solid transparent;
	left:50%;
	margin-left:-7px;
}
.tooltip_type_2.bottom:after{
	bottom:100%;
	border-left:7px solid transparent;
	border-bottom:5px solid #e2e6e7;
	border-right:7px solid transparent;
	left:50%;
	margin-left:-7px;
}
.tooltip_type_2.left:after{
	top:50%;
	border-top:7px solid transparent;
	border-left:5px solid #e2e6e7;
	border-bottom:7px solid transparent;
	left:100%;
	margin-top:-7px;
}
.tooltip_type_2.right:after{
	top:50%;
	border-top:7px solid transparent;
	border-right:5px solid #e2e6e7;
	border-bottom:7px solid transparent;
	right:100%;
	margin-top:-7px;
}
.progress_bar{
	height:9px;
}
.progress_bar > div{
	position:absolute;
	left:0;
	top:0;
	height:100%;
}
.info_block_type_1{
	padding-left:80px;
}
.info_block_type_3{
	padding-left:45px;
}
.team_photo{
	width:200px;
	height:200px;
}
.call_to_action_1,.recent_work_wrap{
	padding:40px 0 30px;
}
.cta_1 > div:first-child{
	width:84%;
}
.cta_1 .button_type_12{
	min-width:135px;
}
.call_to_action_2{
	padding:25px 0;
}
.big_video_container{
	width:960px;
	height:540px;
	position:relative;
}
.big_video_container > iframe{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* -----------------------------------

	15. Forms

------------------------------------- */

.searchform_wrap{
	background:#fff;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-webkit-transform:translateY(60px);
	-moz-transform:translateY(60px);
	-o-transform:translateY(60px);
	-ms-transform:translateY(60px);
	transform:translateY(60px);
	opacity:0;
	visibility: hidden;
	z-index:101;
}
.searchform_wrap[class*="type_"],.searchform_wrap[class*="type_"].opened,
.searchform_wrap[class*="type_"].closed{
	background:#FAFBFB;
	-webkit-transform:none;
	-moz-transform:none;
	-o-transform:none;
	-ms-transform:none;
	transform:none;
}
.searchform_wrap.opened,
.md_no-touch .main_menu > li:hover > .sub_menu_wrap,
.main_menu > li.touch_open_sub > .sub_menu_wrap{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);
	opacity:1;
	visibility: visible;
}
.searchform_wrap.closed{
	-webkit-transform:translateY(-60px);
	-moz-transform:translateY(-60px);
	-o-transform:translateY(-60px);
	-ms-transform:translateY(-60px);
	transform:translateY(-60px);
	opacity:0;
	visibility: hidden;
}
[role="search"]:not([class*="type_"]){
	width:99%;
}
[role="search"]:not([class*="type_"]) input[type="text"]{
	width:95%;
	background:transparent;
	border:none;
}
[role="search"].type_2 button{
	position:absolute;
	right:13px;
	height:100%;
	top:0;
	margin-top:0;
}
[role="search"].type_2 input[type="text"]{
	padding-right:40px;
}
input:not([type="submit"]),textarea{
	background:#f5f7f8;
	height:40px;
	padding:9px 10px;
	color:#696e6e;
	border:2px solid #e4e4e2;
	outline:none;
	resize:none;
}
input:not([type="submit"]).type_2{
	height:30px;
	padding:2px 10px;
	width:45%;
}
input[type="checkbox"] + label,input[type="radio"] + label{
	cursor:pointer;
	display:inline-block;
	position:relative;
	margin-bottom:8px;
}
input[type="checkbox"] + label:after{
	content:"\f00c";
	font-family: FontAwesome;
	line-height: 24px;
	top:0;
	font-size:.85em;
	position:absolute;
	left:5px;
	color:#292f38;
	display:none;
}
input[type="checkbox"] + label:before,input[type="radio"] + label:before,
.block_select:before{
	content:"";
	display: inline-block;
	vertical-align: middle;
	margin-right:9px;
	width:22px;
	height:22px;
	background:url("../images/checkbox.png") no-repeat;
}
input[type="radio"] + label:before,.block_select:before{
	background:url("../images/radio.png") no-repeat 0 0;
	overflow: hidden;
}
input[type="checkbox"]:checked + label:after{
	display:block;
}
input[type="radio"]:checked + label:before,.block_select.selected:before{
	background-position:0 -22px;
}
#contactform.mini textarea,.notes{
	height:140px;
}
#cf_message{
	height:160px;
}
input::-ms-clear {
    display: none;
    width:0;
    height:0;
}
.quantity input[type="text"]{
	padding:0 8px;
	border-left-width:1px;
	border-right-width:1px;
	border-top:none;
	border-bottom:none;
	background:transparent;
	height:26px;
	width:44px;
}
.quantity button{
	height:26px;
	width:27px;
}
.review_tarea,#comments{
	height:200px;
}
input:not([type="submit"]).small_field{
	width:64px;
}
.table_type_4 tr:last-child input[type="text"]{
	width:200px;
}
label[class*="required"]:after{
	content:"*";
	display:inline-block;
	vertical-align: top;
	margin-left:4px;
}
#capcha{
	width:121px;
}
fieldset legend{
	padding-right:12px;
}
fieldset legend .close_fieldset{
	position:absolute;
	top:1px;
	right:0;
}
.subscribe_form_2 input[type="email"]{
	width:275px;
}

/* -----------------------------------

	16. Footer

------------------------------------- */

#footer{
	color:#bdc3c7;
	padding:45px 0 0;
}
#footer.type_2{
	padding-top:25px;
}
.footer_top_part{
	padding-bottom:37px;
}
#footer.type_2 .foorer_top_part{
	padding-bottom:45px;
}
.footer_bottom_part{
	background:#292f38;
	padding:24px 0 22px;
	color:#696e6e;
}

/* -----------------------------------

	17. Animations

------------------------------------- */

@-webkit-keyframes ministorm{
	0%,100%{
		-webkit-tranform:rotate(0deg);
	}
	30%{
		-webkit-transform:rotate(8deg);
	}
	70%{
		-webkit-transform:rotate(-8deg);	
	}
}
@keyframes ministorm{
	0%,100%{
		-moz-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	30%{
		-moz-transform:rotate(8deg);
		-o-transform:rotate(8deg);
		-ms-transform:rotate(8deg);
		transform:rotate(8deg);
	}
	70%{
		-moz-transform:rotate(-8deg);
		-o-transform:rotate(-8deg);
		-ms-transform:rotate(-8deg);
		transform:rotate(-8deg);	
	}
}
@keyframes wicket{
	0%{
		-moz-transform:rotate3d(1,0,0,90deg);
		-o-transform:rotate3d(1,0,0,90deg);
		-ms-transform:rotate3d(1,0,0,90deg);
		transform:rotate3d(1,0,0,90deg);
	}
	70%{
		-moz-transform:rotate3d(1,0,0,-30deg);
		-o-transform:rotate3d(1,0,0,-30deg);
		-ms-transform:rotate3d(1,0,0,-30deg);
		transform:rotate3d(1,0,0,-30deg);
	}
	100%{
		-moz-transform:rotate3d(1,0,0,0deg);
		-o-transform:rotate3d(1,0,0,0deg);
		-ms-transform:rotate3d(1,0,0,0deg);
		transform:rotate3d(1,0,0,0deg);
	}
}
@-webkit-keyframes wicket{
	0%{
		-webkit-transform:rotate3d(1,0,0,90deg) translate3d(0,0,1px);
	}
	70%{
		-webkit-transform:rotate3d(1,0,0,-30deg) translate3d(0,0,1px);
	}
	100%{
		-webkit-transform:rotate3d(1,0,0,0deg) translate3d(0,0,1px);
	}
}
@keyframes wicketout{
	0%{
		-moz-transform:rotate3d(1,0,0,0deg);
		-o-transform:rotate3d(1,0,0,0deg);
		-ms-transform:rotate3d(1,0,0,0deg);
		transform:rotate3d(1,0,0,0deg);
	}
	30%{
		-moz-transform:rotate3d(1,0,0,-30deg);
		-o-transform:rotate3d(1,0,0,-30deg);
		-ms-transform:rotate3d(1,0,0,-30deg);
		transform:rotate3d(1,0,0,-30deg);
	}
	100%{
		-moz-transform:rotate3d(1,0,0,90deg);
		-o-transform:rotate3d(1,0,0,90deg);
		-ms-transform:rotate3d(1,0,0,90deg);
		transform:rotate3d(1,0,0,90deg);
	}
}
@-webkit-keyframes wicketout{
	0%{
		-webkit-transform:rotate3d(1,0,0,0deg) translate3d(0,0,1px);
	}
	30%{
		-webkit-transform:rotate3d(1,0,0,-30deg) translate3d(0,0,1px);
	}
	100%{
		-webkit-transform:rotate3d(1,0,0,90deg) translate3d(0,0,1px);
	}
}
@-webkit-keyframes sizejump{
	0%,100%{-webkit-transform:scaleX(1);}
	50%{-webkit-transform:scaleX(1.1);}
}
@keyframes sizejump{
	0%,100%{-moz-transform:scaleX(1);-o-transform:scaleX(1);-ms-transform:scaleX(1);transform:scaleX(1);}
	50%{-moz-transform:scaleX(1.1);-o-transform:scaleX(1.1);-ms-transform:scaleX(1.1);transform:scaleX(1.1);}
}
@-webkit-keyframes jump{
	0%,100%{-webkit-transform:translateY(0px);}
	50%{-webkit-transform:translateY(-5px);}
}
@keyframes jump{
	0%,100%{-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);}
	50%{-moz-transform:translateY(-5px);-o-transform:translateY(-5px);-ms-transform:translateY(-5px);transform:translateY(-5px);}
}
[class*="animate_"]{
	-webkit-transition:all .7s ease;
	-moz-transition:all .7s ease;
	-o-transition:all .7s ease;
	transition:all .7s ease;
}
[class*="animate_"].fast,.tr_all_hover{
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;	
}
[class*="animate_"].long,.tr_all_long_hover{
	-webkit-transition:all 1.1s ease;
	-moz-transition:all 1.1s ease;
	-o-transition:all 1.1s ease;
	transition:all 1.1s ease;
}
[class*="animate_ft"],.animate_fade{
	opacity:0;
	visibility: hidden;
}
.animate_ftl{
	-webkit-transform:translateX(45px);
	-moz-transform:translateX(45px);
	-o-transform:translateX(45px);
	-ms-transform:translateX(45px);
	transform:translateX(45px);
}
.animate_ftr{
	-webkit-transform:translateX(-45px);
	-moz-transform:translateX(-45px);
	-o-transform:translateX(-45px);
	-ms-transform:translateX(-45px);
	transform:translateX(-45px);
}
.animate_ftt{
	-webkit-transform:translateY(35%);
	-moz-transform:translateY(35%);
	-o-transform:translateY(35%);
	-ms-transform:translateY(35%);
	transform:translateY(35%);
}
.animate_ftb{
	-webkit-transform:translateY(-35%);
	-moz-transform:translateY(-35%);
	-o-transform:translateY(-35%);
	-ms-transform:translateY(-35%);
	transform:translateY(-35%);
}
.animate_half_tc:first-child{
	-webkit-transform:translateX(50%);
	-moz-transform:translateX(50%);
	-o-transform:translateX(50%);
	-ms-transform:translateX(50%);
	transform:translateX(50%);
	opacity:0;
	visibility: hidden;
}
.animate_half_tc:not(:first-child){
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
}
.animate_sj_finished{
	-webkit-animation:sizejump .7s ease;
	-moz-animation:sizejump .7s ease;
	-o-animation:sizejump .7s ease;
	-ms-animation:sizejump .7s ease;
	animation:sizejump .7s ease;
}
.animate_horizontal_finished[class*="animate_"],.ie9 [class*="animate_"]:not(#go_to_top){
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	-o-transform:translateX(0px);
	-ms-transform:translateX(0px);
	transform:translateX(0px);
	opacity:1;	
	visibility: visible;
}
.animate_vertical_finished[class*="animate_ft"],.no_children_animate [class*="animate_"],
.with_buttons:hover .open_buttons > *,.simple_s_caption.active{
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
	transform:translateY(0px);
	opacity:1;	
	visibility: visible;
}
.animate_fade_finished,.with_buttons:hover:after,
.tooltip_container:hover .tooltip_type_2.top,
.tooltip_container:hover .tooltip_type_2.bottom,
.tooltip_container:hover .tooltip_type_2.left,
.tooltip_container:hover .tooltip_type_2.right{
	opacity:1;	
	visibility: visible;	
}

/* -----------------------------------

	18. Responsive changes

------------------------------------- */

@media only screen and (max-width: 1200px){
	.boxed_layout{
		width:1020px;
	}
	.product_item:not(.list_type){
		width:219px;
		margin-left:10px;
		margin-right:10px;
	}
	.products_container{
		margin-left:-10px;
		margin-right:-10px;
	}
	.menu_wrap.type_2 .main_menu > li > a{
		padding-left:27px;
		padding-right:27px;
	}
	.categories_nav_list > li{
		width:127px;
	}
	.p_list_description{
		width:285px;
	}
	.table_type_4 tr:first-child th:nth-child(4){
		width:160px;
	}
	.table_type_4 tr:last-child input[type="text"]{
		width:195px;
	}
	.table_type_1 tr:first-child th:nth-child(2){
		width:145px;
	}
	.slide_caption{
		right:20px;
		padding-top:65px;
	}
	.slide_caption_2,.camera_caption_2{
		padding-top:70px;
	}
	.camera_caption_1{
		padding-top:65px;
	}
	.camera_caption_3{
		padding-top:35px;
	}
	.s_form_wrap_2{
		width:310px;
	}
	.main_menu.type_3 .sub_menu_wrap:not(.type_2){
		width:456px;
	}
	.qv_preview .zoomWrapper{
		width: auto !important;
		height:auto !important;
	}
	.qv_preview .zoomWrapper img{
		position: relative !important;
	}
	.zoomContainer{
		display:none !important;
	}
	
	.portfolio_masonry_container .portfolio_item.m_width_1{
	width:388px;
	}
	.portfolio_masonry_container .portfolio_item.m_width_2{
		width:290px;
	}
	.portfolio_masonry_container .portfolio_item.m_width_3{
		width:194px;
	}
	.portfolio_masonry_container .portfolio_item.m_width_3 .open_buttons{
		width:92px;
	}
	.p_table{
		width:233px;
	}
	.p_table.active,
	.p_table:hover{
		width:243px;
	}
	.main_menu > li > a{
		padding-left:30px;
		padding-right:30px;
	}
	.glyphicon_item i[class^="fa "]{
		line-height:1em;
	}
	.glyphicon_item{
		height:auto;
		padding-top:30px;
	}
	.big_video_container{
		width:100%;
		height:0;
		position:relative;
		padding-bottom:56%;
	}
	.table_type_6 tr td {
		width: auto !important;
	}
	.table_type_7 td,.table_type_7 thead tr:first-child th{
		padding-left:10px;
		padding-right:10px;
	}
	.big_video_container > iframe{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
	}
	.menu_wrap.type_2 .main_menu > li > a{
		padding-left:18px;
		padding-right:18px;
	}
	.s_form_wrap{
		width:731px;
	}
	.table_md_wrap{
		overflow:scroll;
		overflow-y:hidden;
	}
	.d_md_none,.l_width_divider > li:before{
		display:none;
	}
	.d_md_block{
		display:block;
	}
	.d_md_inline_b{
		display:inline-block;
	}
	.d_md_inline_middle{
		display:inline-block;
		vertical-align: middle;
	}
	.t_md_align_l{
		text-align:left;
	}
	.t_md_align_c{
		text-align:center;
	}
	.h_md_auto{
		height:auto;
	}
	.m_md_bottom_0{
		margin-bottom:0;
	}
	.m_md_bottom_5{
		margin-bottom:5px;
	}
	.m_md_bottom_15{
		margin-bottom:15px;
	}
	.m_md_bottom_20{
		margin-bottom:20px;
	}
	.m_md_bottom_25{
		margin-bottom:25px;
	}
	.m_md_bottom_35{
		margin-bottom:35px;
	}
	.f_md_none{
		float:none;
	}
	.m_md_right_0{
		margin-right:0px;
	}
	.m_md_right_30{
		margin-right:30px;
	}
	.m_md_left_0,.s_form_wrap_2 .logo{
		margin-left:0px;
	}
	.m_md_left_25{
		margin-left:25px;
	}
	.m_md_bottom_5{
		margin-bottom:5px;
	}
	.m_md_bottom_15{
		margin-bottom:15px;
	}
	[class*="animate_"]:not(#go_to_top){
		-webkit-transform:translate(0px);
		-moz-transform:translate(0px);
		-o-transform:translate(0px);
		-ms-transform:translate(0px);
		transform:translate(0px);
		-webkit-animation:none;
		-moz-animation:none;
		-o-animation:none;
		-ms-animation:none;
		animation:none;
		opacity:1;	
		visibility: visible;
	}
}
@media only screen and (max-width: 992px){
	.boxed_layout{
		width:770px;
	}
	.page_content_offset{
		padding:45px 0;
	}
	.main_menu > li > a{
		padding-left:16px;
		padding-right:16px;
	}
	.menu_wrap.type_2 .main_menu > li > a{
		padding-left:12px;
		padding-right:12px;
	}
	.sub_menu_wrap{
		padding-right:0;
		width:444px;
	}
	.product_item:not(.list_type){
		width:226px;
	}
	.banner_title{
		font-size:1.28em;
	}
	.banner_title.type_2{
		font-size:2em;
	}
	.banner_caption,.banner.type_2 .banner_caption{
		left:10px;
	}
	.categories_nav_list > li{
		width:94px;
	}
	.table_type_4 td,.table_type_4 tr:last-child td{
		padding-left:7px;
		padding-right:7px;
	}
	.table_type_7 td,.table_type_7 thead tr:first-child th{
		padding-left:5px;
		padding-right:5px;
	}
	.table_type_4 tr:last-child input[type="text"]{
		width:125px;
	}
	.cw_product .close_fieldset{
		top:-6px;
	}
	.tabs_nav li a,.menu_wrap.type_2 .main_menu > li > a{
		padding-left:10px;
		padding-right:10px;
	}
	.main_menu.type_3 > li > a{
		padding-left:14px;
		padding-right:14px;
	}
	.slider_title_4{
		font-size:1.5em;
	}
	.slide_caption{
		right:20px;
		width:250px;
		padding-top:43px;
	}
	.slide_caption_2{
		width:257px;
		padding-top:65px;
	}
	.camera_caption_1{
		width:500px;
		padding-top:25px;
		left:auto;
		right:20px;
	}
	.camera_caption_2{
		left:20px;
		padding-top:50px;
	}
	.camera_caption_3{
		width:55%;
		left:50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.open_buttons{
	width:91px;
	}
	.portfolio_masonry_container .portfolio_item.m_width_1{
		width:290px;
	}
	.portfolio_masonry_container .portfolio_item.m_width_2{
		width:206px;
	}
	.portfolio_masonry_container .portfolio_item.m_width_3{
		width:152px;
	}
	.p_table{
		width:178px;
	}
	.p_table.active,
	.p_table:hover{
		width:188px;
	}
	.sub_sideshow, .sub_video{
		width:450px;
	}
	.team_photo{
		width:150px;
		height:150px;
	}
	h1 > b{
		line-height: 1em;
	}
	[role="navigation"]{
		position: relative;
		z-index:192;
	}
	.table_type_1 td,
	.table_type_1 th{
		padding-left:6px;
		padding-right:6px;
	}
	.table_sm_wrap{
		overflow:scroll;
		overflow-y:hidden;
	}
	.p_sm_right_0{
		padding-right:0;
	}
	.w_sm_auto,.s_form_wrap{
		width:auto !important;
	}
	.w_sm_full,.sub_sideshow, .sub_video{
		width:100%;
	}
	.d_sm_none,.n_sm_vc_child:after,.simple_s_caption{
		display:none;
	}
	.d_sm_block{
		display:block;
	}
	.d_sm_inline_b{
		display: inline-block;
	}
	.d_sm_inline_middle{
		display: inline-block;	
		vertical-align: middle;
	}
	.t_sm_align_c{
		text-align: center;
	}
	.t_sm_align_l{
		text-align: left;
	}
	.f_sm_none{
		float:none;
	}
	.nav_buttons_wrap_type_2{
		position:relative;
		top:auto;
		right:auto;
	}
	.widget figcaption[class*="relative"]{
		padding-right:20px;
	}
	.category_grid .product_item{
		width:174px;
		margin-left:5px;
		margin-right:5px;
	}
	.product_item .photoframe.type_2 .pp_wrap > [class*="button_type_"]{
		min-width:94px;
	}
	.s_form_wrap_2{
		width:245px;
	}
	.widget_content{
		padding-left:19px;
		padding-right:19px;
	}
	.tf_sm_none{
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
	}
	.m_sm_bottom_0{
		margin-bottom:0px;
	}
	.m_sm_bottom_5{
		margin-bottom:5px;
	}
	.m_sm_bottom_10{
		margin-bottom:10px;
	}
	.m_sm_bottom_15{
		margin-bottom: 15px;
	}
	.m_sm_bottom_20{
		margin-bottom: 20px;
	}
	.m_sm_bottom_30{
		margin-bottom: 30px;
	}
	.m_sm_bottom_35{
		margin-bottom:35px;
	}
	.m_sm_bottom_45{
		margin-bottom:45px;
	}
	.m_sm_right_0{
		margin-right:0px;
	}
	.m_sm_right_20{
		margin-right:20px;
	}
	.m_sm_left_0{
		margin-left:0px;
	}
	.m_sm_left_5{
		margin-left:5px;
	}
	.m_sm_left_10{
		margin-left:10px;
	}
	.mw_sm_0{
		min-width:0;
	}
	.popup{
		width:750px;
	}
}
@media only screen and (max-width:768px){
	.boxed_layout{
		margin:0 10px;
	}
	.h_bot_part{
		padding-top:15px;
		padding-bottom:15px;
	}
	.menu_wrap{
		background:transparent;
	}
	.sub_menu_wrap{
		position:relative;
		-webkit-transform:none !important;
		-moz-transform:none !important;
		-o-transform:none !important;
		-ms-transform:none !important;
		transform:none !important;
		opacity:1;
		visibility: visible;
		padding:0;
		margin:5px 0 0;
		-webkit-transition:none;
		-moz-transition:none;
		-o-transition:none;
		transition:none;
	}
	.main_menu > li > a{
		background:#fff;
		color:#E51E26;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		text-transform: none;
		padding:10px 15px;
		border:1px solid #E51E26;
	}
	.main_menu > li.current > a,
	.md_no-touch .main_menu > li:hover > a,
	.main_menu > li.touch_open_sub > a,
	.main_menu > .current_click > a{
		color:#fff;
	}
	.menu_wrap{
		position:relative !important;
		top:auto !important;
	}
	[role="banner"]{
		border-bottom:none !important;
	}
	.searchform_wrap{
		opacity:1;
		visibility: visible;
		position:relative;
		-webkit-transform:none;
		-moz-transform:none;
		-o-transform:none;
		-ms-transform:none;
		transform:none;
	}
	[role="search"] input[type="text"]{
		padding-top:10px;
		padding-bottom:10px;
		height:50px;
	}
	.products_container .product_item,.category_grid .product_item,
	.portfolio_isotope_container,.portfolio_isotope_container .portfolio_item,
	.portfolio_isotope_container.three_columns .portfolio_item,
	.portfolio_isotope_container.four_columns .portfolio_item,
	.portfolio_masonry_container .portfolio_item.m_width_1,
	.portfolio_masonry_container .portfolio_item.m_width_2,
	.portfolio_masonry_container .portfolio_item.m_width_3,
	.portfolio_masonry_container{
		width:100% !important;
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.products_container:not(.list_type) .product_item .photoframe,.nc_carousel .owl-item .photoframe,
	.wfilter_carousel .photoframe,.bestsellers_carousel .photoframe{
		width:263px;
		margin-left:auto;
		margin-right:auto;
	}
	.revolution_slider [class*="button_type_"],
	.banner [class*="button_type_"]{
		padding-top:5px;
		padding-bottom:5px;
	}
	.nav_buttons_wrap_type_2{
		position:absolute;
		top:50%;
		right:10px;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.specials_item{
		margin-left:1px;
	}
	.categories_nav_list > li{
		width:18.2%;
		margin-left:1%;
		margin-right:1%;
	}
	.table_wrap{
		overflow:scroll;
		overflow-y:hidden;
	}
	.table_type_7 td,.table_type_7 thead tr:first-child th{
		padding-left:15px;
		padding-right:15px;
	}
	[class*="table_type_"] tr:last-child td:not(:last-child){
		border-bottom:1px solid #ecf0f1;
	}
	.our_recent_work_carousel .open_buttons{
		width:91px;
	}
	.tabs_nav li:not(:first-child) a{
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	.h_bot_part.type_2{
		padding-bottom:10px;
	}
	.p_xs_hr_0{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	.f_xs_none{
		float:none;
	}
	.f_xs_left{
		float:left;
	}
	.d_xs_block{
		display:block;
	}
	.d_xs_inline_b{
		display:inline-block;
	}
	.d_xs_inline_middle{
		display:inline-block;	
		vertical-align: middle;
	}
	.p_table,
	.p_table.active,
	.p_table:hover{
		margin:15px 0;
		padding:0 15px;
	}
	.d_xs_centered{
		margin-left:auto;
		margin-right:auto;
	}
	.d_xs_none,.custom_thumb,.sub_menu_wrap:before,.tp-leftarrow,.tp-rightarrow,.isotope_menu [class*="button_type_"]:after,
	.camera_next,.camera_prev,#styleswitcher,.flex-direction-nav a{
		display:none;
	}
	.w_xs_auto,.boxed_layout,
	.portfolio_isotope_container.four_columns .portfolio_item .open_buttons{
		width:auto;
	}
	.w_xs_full,.product_item[class*="w_xs_full"],[class*="table_type_"] td[class*="w_xs_full"],.s_form_wrap_2,
	.p_table,
	.p_table.active,
	.p_table:hover{
		width:100%;
	}
	.t_xs_align_c,.related_projects .owl-item{
		text-align: center;
	}
	.t_xs_align_l{
		text-align: left;
	}
	.m_xs_bottom_0{
		margin-bottom:0px;
	}
	.m_xs_bottom_5{
		margin-bottom:5px;
	}
	.m_xs_bottom_10{
		margin-bottom:10px;
	}
	.m_xs_bottom_15{
		margin-bottom:15px;
	}
	.m_xs_bottom_30{
		margin-bottom:30px;
	}
	.m_xs_right_0{
		margin-right:0;
	}
	.m_xs_right_25{
		margin-right:25px;
	}
	.m_xs_left_0{
		margin-left: 0px;
	}
	.m_xs_left_5{
		margin-left: 5px;
	}
	/* tables change*/
	.responsive_table,
	.responsive_table tbody,
	.responsive_table thead,
	.responsive_table tfoot,
	.responsive_table th:not(.d_xs_none),
	.responsive_table tr,
	.responsive_table td:not(.d_xs_none){
		display:block;
	}
	.responsive_table thead tr{
		position:absolute;
		top:-9999px;
		left:-9999px;
	}
	.responsive_table td{
		position:relative;
		padding-left:50% !important;
		border-left:none !important;
		border-right:none !important;
		border-top:none;
	}
	.responsive_table td:not([colspan]):after{
		content:"";
		display:block;
		border-left:1px solid #ecf0f1;
		position:absolute;
		left:47%;
		top:0;
		height:100%;
	}
	.responsive_table td[colspan]{
		width:100%;
		text-align:center;
		padding-left:15px !important;
	}
	.responsive_table td:before{
		content:attr(data-title);
		position:absolute;
		top:50%;
		left:9px;
		width:45%;
		padding-right:10px;
		-webkit-transform:translateY(-50%) translateZ(0);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.responsive_table tr:nth-child(2n){
		background:#F8FCFD;
	}
	.responsive_table.type_2 tr:first-child td{
		width:100%;
	}
	.responsive_table.type_2 tr{
		counter-reset: titlecounter;
	}
	.responsive_table.type_2 tr td{
		counter-increment: titlecounter;
	}
	.responsive_table.type_2 tr td:before{
		content:counter(titlecounter) "." attr(data-title);
	}
}
@media only screen and (max-width:480px){
	.dropdown_list{
		min-width:110px;
	}
	.shopping_cart{
		min-width:260px;
	}
	.product_description{
		width:98px;
	}
	.dropdown_list:not(.type_2):before{
		right:auto;
		left:10px;
	}
	.searchform_wrap{
		height:52px;
	}
	.banner{
		padding-bottom:1px;
	}
	.comment_content_wrap{
		margin-left:86px;
	}
	.comment:after{
		top:10px;
	}
	#login_popup .popup{
		width:80%;
		margin-left:0px !important;
		margin-right:0px !important;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.products_container.list_type .pp_wrap{
		width:100px;
	}
	.f_mxs_none{
		float:none;
	}
	.d_mxs_block{
		display:block;
	}
	.d_mxs_none{
		display:none;
	}
	.d_mxs_inline_b{
		display:inline-block;
	}
	.t_mxs_align_c{
		text-align:center;
	}
	.t_mxs_align_l{
		text-align:left;
	}
	.m_mxs_bottom_5{
		margin-bottom:5px;
	}
	.m_mxs_bottom_10{
		margin-bottom:10px;
	}
	.m_mxs_bottom_15{
		margin-bottom:15px;
	}
	.m_mxs_bottom_20{
		margin-bottom:20px;
	}
	.m_mxs_right_0{
		margin-right:0px;
	}
	.m_mxs_top_10{
		margin-top:10px;
	}
	.m_mxs_left_0{
		margin-left:0px !important;
	}
	.w_mxs_auto,.categories_nav_list > li[class*="w_mxs_auto"]{
		width:auto;
	}
	.w_mxs_full{
		width:100%;
	}
	.subscribe_form_2 input[type="email"]{
		width:100% !important;
	}
}
@media only screen and (max-width:393px){
	.d_exs_block{
		display:block;
	}
}

/* -----------------------------------

	19. Retina ready

------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144 dpi){
	blockquote:after{
		background-image:url("../images/blockquote_arrow@2x.png");
		background-size:17px 10px;
	}
	.comment:after{
		background-image:url("../images/comment_arrow@2x.png");
		background-size:9px 18px;	
	}
	.categories_list a > span:before,.categories_list a > span:after{
		background-image:url("../images/plusminus@2x.png");
		background-size:9px 10px;		
	}
	input[type="radio"] + label:before,.block_select:before{
		background-image:url("../images/radio@2x.png");
		background-size:22px 44px;	
	}
	.block_select:before{
		background-image:url("../images/checkbox@2x.png");
		background-size:22px 22px;		
	}
}